Dataset Used: https://www.kaggle.com/datasets/rohitsahoo/sales-forecasting?resource=download

Busienss Goal: The objective of this project is to utilize the unfamiliar dataset to create a sales forecasting model, which predicts sales at the store level. By doing so, busienss insights will be quickly learned to optimize sales performance. Leadership can use this information to ensure inventory levels are stocked appropriatley and improve efficiency. Management can make more informed desicions when purchasing supplies and determining staffing needs. This will improve increase revenue and reduce loss.

In [12]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from pathlib import Path

#Import Dataset
data_path = Path("..") / "data" / "data_raw" / "train.csv" 
#This creates a relative path, allowing visibility for github viewers when downloaded.
df = pd.read_csv(data_path)

#Check data load
print(f"Shape: {df.shape}")
df.head()

In [15]:
#Review Dataset
#df.info

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

There are 9,800 rows in this dataset including categorical and numeric data. The columns consist of customer and order details, as well as location and product information. 

Key columns identified: 
Row ID: Unique Identifier for order
Order ID: Unique Identifier for order
Order Date: Date order was placed
Ship Date: Date order was shipped
Customer ID: Unique customer identifier

In [16]:
#Review Dataset
display(df.describe()) #view descriptive statistics

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

The high standard deviation of $626 is notable, this indicates wide range of sale prices.
postal code is missing values

In [19]:
#Check missing values
print("Missing Column Values:")
print(df.isnull().sum())

Missing Column Values:
Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64